{{define "calendar"}}
<div class="container noselect">
    <div class="row">
        <div class="col">SUN</div>
        <div class="col">MON</div>
        <div class="col">TUE</div>
        <div class="col">WED</div>
        <div class="col">THU</div>
        <div class="col">FRI</div>
        <div class="col">SAT</div>
    </div>
    <div class="row">
        <div id="0" class="col cell cell-top-left">col</div>
        <div id="1" class="col cell cell-top-left">col</div>
        <div id="2" class="col cell cell-top-left">col</div>
        <div id="3" class="col cell cell-top-left">col</div>
        <div id="4" class="col cell cell-top-left">col</div>
        <div id="5" class="col cell cell-top-left">col</div>
        <div id="6" class="col cell cell-right">col</div>
    </div>
    <div class="row">
        <div id="7"  class="col cell cell-top-left">col</div>
        <div id="8"  class="col cell cell-top-left">col</div>
        <div id="9"  class="col cell cell-top-left">col</div>
        <div id="10" class="col cell cell-top-left">col</div>
        <div id="11" class="col cell cell-top-left">col</div>
        <div id="12" class="col cell cell-top-left">col</div>
        <div id="13" class="col cell cell-right">col</div>
    </div>
    <div class="row">
        <div id="14" class="col cell cell-top-left">col</div>
        <div id="15" class="col cell cell-top-left">col</div>
        <div id="16" class="col cell cell-top-left">col</div>
        <div id="17" class="col cell cell-top-left">col</div>
        <div id="18" class="col cell cell-top-left">col</div>
        <div id="19" class="col cell cell-top-left">col</div>
        <div id="20" class="col cell cell-right">col</div>
    </div>
    <div class="row">
        <div id="21" class="col cell cell-top-left">col</div>
        <div id="22" class="col cell cell-top-left">col</div>
        <div id="23" class="col cell cell-top-left">col</div>
        <div id="24" class="col cell cell-top-left">col</div>
        <div id="25" class="col cell cell-top-left">col</div>
        <div id="26" class="col cell cell-top-left">col</div>
        <div id="27" class="col cell cell-right">col</div>
    </div>
    <div class="row">
        <div id="28" class="col cell cell-top-left">col</div>
        <div id="29" class="col cell cell-top-left">col</div>
        <div id="30" class="col cell cell-top-left">col</div>
        <div id="31" class="col cell cell-top-left">col</div>
        <div id="32" class="col cell cell-top-left">col</div>
        <div id="33" class="col cell cell-top-left">col</div>
        <div id="34" class="col cell cell-right">col</div>
    </div>
    <div class="row">
        <div id="35" class="col cell cell-bottom">col</div>
        <div id="36" class="col cell cell-bottom">col</div>
        <div id="37" class="col cell cell-bottom">col</div>
        <div id="38" class="col cell cell-bottom">col</div>
        <div id="39" class="col cell cell-bottom">col</div>
        <div id="40" class="col cell cell-bottom">col</div>
        <div id="41" class="col cell cell-right-bottom">col</div>
    </div>
  </div>
{{end}}