{{define "modal"}}

<!--Add Schedule-->
<div class="modal fade" id="addSchedule" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Schedule</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="text-dark">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="startdate" class="col-form-label">Start date</label>
                    <input type="date" class="form-control form-control-sm" id="startdate" value="" placeholder="YYYY-MM-DD" >
                </div>
                <div class="form-group">
                    <label for="enddate" class="col-form-label">End date</label>
                    <input type="date" class="form-control form-control-sm" id="enddate" value="" placeholder="YYYY-MM-DD" >
                </div>
                <div class="form-group">
                    <label for="starttime" class="col-form-label">Start time</label>
                    <input type="time" class="form-control form-control-sm" id="starttime" value="" placeholder="hh:mm:ss+hh:mm" >
                </div>
                <div class="form-group">
                    <label for="endtime" class="col-form-label">End time</label>
                    <input type="time" class="form-control form-control-sm" id="endtime" value="" placeholder="hh:mm:ss+hh:mm" >
                </div>
                <div class="form-group">
                    <label for="title" class="col-form-label">Title</label>
                    <input type="text" class="form-control form-control-sm" id="title" value="" placeholder="제목을 입력해 주세요." >
                </div>
                <div class="form-group">
                    <label for="layer" class="col-form-label">Layer</label>
                    <select class="form-control form-control-sm" id="layer">
                        <option value="layer1">layer1</option>
                        <option value="layer2">layer2</option>
                    </select>
                
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal" onclick="clearSelection()">Close</button>
                <button type="button" class="btn btn-outline-dark" id="addschedulebtn" onclick="addScheduleModal()" data-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>
<!--Add Layer-->
<div class="modal fade" id="addLayer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Layer</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="layerTitle" class="col-form-label">Layer name</label>
                    <input type="text" class="form-control form-control-sm" id="layerTitle" value="" placeholder="레이어 이름을 입력해 주세요." >
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>
{{end}}