.cell {
    height: 100px;
}

.cell:hover {
    background-color: rgba(255, 189, 46, 0.692);
}

.cell-top-left {
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
}

.cell-right {
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.cell-bottom {
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.cell-right-bottom {
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

.circle {
    width:50px;
    height:50px;
    border-radius:50px;
    font-size:20px;
    color:#fff;
    line-height:50px;
    text-align:center;
    background:#f7d033;
}

.fade {
    opacity: 0.3;
}